h1 {
	margin: 0 0 5px;
}

h2 {
	margin: 0 0 5px;
}

h3 {
	margin: 0 0 5px;
}

button {
	display: block;
	width: 100%;
}

select {
	
}

input[type="text"] {
	display: block;
	width: 100%;
}

span + input[type="text"] {
	display: inline;
	width: 80%;
}

.scrollable {
	width: 100%;
	overflow-x: scroll;
}